@font-face {
  font-family: "element-icons"; /* Project id 4552502 */
  src: url('iconfont.woff2?t=1716018579074') format('woff2'),
       url('iconfont.woff?t=1716018579074') format('woff'),
       url('iconfont.ttf?t=1716018579074') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-full-screen:before {
  content: "\e607";
}

